<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Titles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
.error {
	color: red;
	width: 200px;
	display: inline;
	font-size: 20px;
}
input[type=text], select {
	
	width: 200px;
}
tr{
	display: block;
	width: 200px;
	text-align: left;
}
</style>

<body class="col-md-4" style="margin-top: 15px">
	<h1>Add title</h1>
	
	<div th:replace="navbar.html">
	</div>
	
	<h2>Enter title info</h2>
	
	<div>
		<form th:object="${add}" th:action="@{/save}" action="#" method="post">
			<table>
			
			<tr>
		  	<td > Name: <input type="text" th:field="*{name}" placeholder="name"/></td>
			<td th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"/>
			</tr>
			
			<tr>
		  	<td> Who recommended? <input type="text" id="recommend" th:field="*{recommend}"/></td>
		  	<td th:if="${#fields.hasErrors('recommend')}" th:errorclass="error" th:errors="*{recommend}"/>
			</tr>
			
			<tr>
			<td> Where to watch? <select id="softwarelist" th:field ="*{software}">
				<option th:each="software: ${softwares}" th:value="${software.id}" th:text="${software.name}"></option>
			</select></td>
			</tr>
			
			<tr>
			<td> Type <select id="type" th:field ="*{type}">
				<option value="Series">Series</option>
    			<option value="Movie">Movie</option>
			</select></td>
			</tr>
			
			<tr>
			<td> Category <select id="category" th:field ="*{category}">
				<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			</select></td>
			</tr>

			<tr>
			<td style="display: none;"> Have you seen it <select id="watched" th:field ="*{watched}">
				<option value="No">No</option>
    			<option value="Yes">Yes</option>
			</select></td>
			</tr>
			
			<tr>
		  	<td>  <input type="hidden" id="grade" th:field="*{grade}"/></td>
			</tr>
			
			</table>
			
			<input type="submit" value="Save"></input>
			
		</form>
	</div>
</body>
</html>