<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Watchlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
	
<body style="margin: 15px">
	<h1>Watchlist</h1>
	
	<div th:replace="navbar.html">
	</div>
	
	<div sec:authorize="hasAuthority('ADMIN')" class="col-md-4" style="padding: 30px 0">
		<a href="/add" class="btn btn-success">Add Entry</a>
	</div>
	

	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Recommender</th>
			<th>Where to watch</th>
			<th>Type</th>
			<th>Category</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="Title : ${Titles}" th:if="${Title.watched} == 'No'">
			<td th:text="${Title.name}"></td>
			<td th:text="${Title.recommend}"></td>
			<td th:text="${Title.software.name}"></td>
			<td th:text="${Title.type}"></td>
			<td> <a th:text="${Title.category.name}" th:href="@{/listbycategory/{id}(id=${Title.category.id})}"></a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				class="btn btn-success" th:href="@{/watched/{id}(id=${Title.id})}">Watched</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
				class="btn btn-success" th:href="@{/edit/{id}(id=${Title.id})}">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a
			 	class="btn btn-danger" th:href="@{/delete/{id}(id=${Title.id})}">Delete</a></td>
		</tr>
	</table>

</body>
</html>